@using Microsoft.AspNetCore.Identity 
@{
    ViewData["Title"] = "Home Page";
} 
<br />
@if (User.IsInRole("Admin"))
{
    <div class="adminstyle jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Hello from Admin area!</h1>
            <p class="lead">Enjoy on your work!</p>
            <hr />
            <div class="row">
                <a class="col-md-3 pointer-event"  asp-area="Administration" asp-controller="Rooms" asp-action="All">
                    <div class="card-counter danger">
                        <i class="fa fa-home"></i>
                        <span class="count-numbers">@ViewData["RoomCount"]</span>
                        <span class="count-name">Rooms</span>
                    </div>
                </a>
                <a class="col-md-3 pointer-event" asp-area="Administration" asp-controller="RoomTypes" asp-action="All"> 
                        <div class="card-counter success">
                            <i class="fa fa-database"></i>
                            <span class="count-numbers">@ViewData["RoomTypesCount"]</span>
                            <span class="count-name">Room Types</span>
                        </div> 
                </a>
                <a class="col-md-3 pointer-event"asp-area="Administration" asp-controller="Users" asp-action="All">
                    <div class="card-counter info">
                        <i class="fa fa-user"></i>
                        <span class="count-numbers">@ViewData["UserCount"]</span>
                        <span class="count-name" >Users</span>
                    </div>
                </a>
            </div>
        </div>
    </div>

}
else
{
    
}